<p>This is the benchmarking phase. Scenes-Test (2.43 GB) will be officially released on May 15, 2024. We ask participants to upload a JSON file that scores for all the testing images in <b>Scenes-Test</b>.</p>
<p><b>Top performing teams will be highlighted at <a href="https://vplow.github.io/vplow_4th.html">Workshop on Visual Perception and Learning in an Open World</a> at CVPR 2024.</b> All submissions before this end date will be considered for awards.</p>
<p>The generated JSON or CSV file should adhere to the following dictionary format:</p>
<img src="https://raw.githubusercontent.com/shenqq377/InsDetChallenge-CVPR2024/challenge/templates/submission.png" width="80%" height="80%">
